<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head") %>
    <title>Blogify-Add Blog</title>
</head>
<body>
    <%- include("./partials/nav") %>

    <form action="/blog" method="post">
      <input type="hidden" id="keyValue" name="keyValue">
        <div class="m-3">
  <label for="formFile" class="form-label">Cover Image</label>
  <input class="form-control" type="file" id="formFile" name="coverImageURL">

  <script>
    document.querySelector("#formFile").addEventListener('change', async (event) => {
    const file = event.target.files[0];
   
    //console.log(file.name);
    //console.log(file.type);
    const res = await fetch('/blog/metadata', {
      method: "post",
      headers: {"Content-Type":"application/json"},
      body: JSON.stringify({
        fileName: Date.now()+"-"+file.name,
        fileType: file.type,
      })
    });
    const { url, key } = await res.json();
   document.querySelector('#keyValue').value = key;

   await fetch(url, {
    method: "put",
    headers:{
      "Content-Type": file.type
    },
    body: file,
   });
});
  </script>
</div>
    <div class="form-floating m-4">
  <textarea class="form-control" id="floatingTextarea" name="title"></textarea>
  <label for="floatingTextarea">Title</label>
</div>
<div class="form-floating m-4">
  <textarea class="form-control"  id="floatingTextarea2" style="height: 100px" name="body"></textarea>
  <label for="floatingTextarea2">Body</label>
</div>
 <div class="col-12 m-4">
    <button class="btn btn-primary" type="submit">Add</button>
  </div>
</form>

    <%- include("./partials/scripts") %>
</body>
</html>