<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head") %>
    <title>Blogify-Add Blog</title>
</head>
<body>
    <%- include("./partials/nav") %>

    <form action="/blog" method="post">
      <input type="hidden" id="secret_url" name="secret_url">
        <div class="m-3">
  <label for="formFile" class="form-label">Cover Image</label>
  <input class="form-control" type="file" id="formFile" name="coverImageURL">

  <script>
  document.querySelector("#formFile").addEventListener('change', async(event)=>{
    event.preventDefault();
    const file = event.target.files[0];
    const formData = new FormData();
    formData.append('file', file)
    const res = await fetch('/blog/add-new/upload',{
      method: "put",
      body: formData,
    });
    const data = await res.json();
    console.log(data);
    if(data.message){
      document.querySelector('#secret_url').value = data.secret_url;
    }
  })
</script>

</div>
    <div class="form-floating m-4">
  <textarea class="form-control" id="floatingTextarea" name="title"></textarea>
  <label for="floatingTextarea">Title</label>
</div>
<div class="form-floating m-4">
  <textarea class="form-control"  id="floatingTextarea2" style="height: 100px" name="body"></textarea>
  <label for="floatingTextarea2">Body</label>
</div>
 <div class="col-12 m-4">
    <button class="btn btn-primary" type="submit">Add</button>
  </div>
</form>

    <%- include("./partials/scripts") %>
</body>
</html>